.meun{
	position: fixed;
	top: 0;
	left: 0;
	width: 30%;
	height: 100%;
	border-right: 1px solid #ccc;
}
.nav-main a{
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	float: left;
	width: 100%;
}
.nav{
	margin-top: 30px;
}
.list a{
	width: 62%;
	border-top: 0px;
	border-bottom: 0px;
}

.list>div{
	border-top: 1px solid #ccc;
	overflow: hidden;
}
.nav li{
	width: 90%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	float: left;
}
.contain{
	padding: 10px;
	width: 70%;
}
.contain .title{
	margin: 10px auto;
	color: green;
}
.tab{
	padding: 5px;
}
.tab .tab-body-bordered{
	border: 0px;
}
.titleImg{
	margin-bottom: 30px;
}
.tab-panel{
	margin: 0 auto;
	margin-top: 40px;
}
.form-group{
	margin-top: 15px;
}
.form-group .input{
	width: 100%;
}
.login .form-button button{
	width: 49%;
}
.team{
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	background-color: #999999;
	float: right;
	line-height: 12px;
	padding: 2px;
}
.regBtn{
	width: 100%;
}
.rec-btn{
	margin-top: 4px;
}
.ItemLogList .date{
	text-align: left;
	font-size: 12px;
}
.ItemLogList .prog{
	text-align: center;
}
.ItemLogList li{
	padding: 5px;
}
.repIfo td{
	text-align: center;
	vertical-align: middle;
}
.psw{
	top: 10px;
}
