.tab{
	/*background-color: #F5F5F5;*/
	/*width: 346px;
	height: 470px;*/
	padding: 5px;
}
.tab-body{
	background-color: #fff;
	height: 420px;
}
.tab-panel{
	width: 230px;
	margin: 0 auto;
	margin-top: 130px;
}
.form-button button{
	width: 100%;
	margin: 0 auto;
}