<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>cn.repair.servlet.user.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryUsers</servlet-name>
    <servlet-class>cn.repair.servlet.user.QueryUsers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetManage</servlet-name>
    <servlet-class>cn.repair.servlet.user.SetManage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>cn.repair.servlet.user.UpdateUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditUserPassword</servlet-name>
    <servlet-class>cn.repair.servlet.user.EditUserPassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegUser</servlet-name>
    <servlet-class>cn.repair.servlet.user.RegUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryRepairItem</servlet-name>
    <servlet-class>cn.repair.servlet.repairitem.QueryRepairItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryUserItem</servlet-name>
    <servlet-class>cn.repair.servlet.repairitem.QueryUserItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryRepairLog</servlet-name>
    <servlet-class>cn.repair.servlet.repairlog.QueryRepairLog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddRepairLog</servlet-name>
    <servlet-class>cn.repair.servlet.repairlog.AddRepairLog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddRepairItem</servlet-name>
    <servlet-class>cn.repair.servlet.repairitem.AddRepairItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisposeRepair</servlet-name>
    <servlet-class>cn.repair.servlet.repairitem.DisposeRepair</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoneRepair</servlet-name>
    <servlet-class>cn.repair.servlet.repairitem.DoneRepair</servlet-class>
  </servlet>




	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>cn.repair.core.LoginFilter</filter-class>
	</filter>
	<!--映射过滤器 
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>-->








  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUsers</servlet-name>
    <url-pattern>/QueryUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetManage</servlet-name>
    <url-pattern>/SetManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditUserPassword</servlet-name>
    <url-pattern>/EditUserPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegUser</servlet-name>
    <url-pattern>/RegUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryRepairItem</servlet-name>
    <url-pattern>/QueryRepairItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUserItem</servlet-name>
    <url-pattern>/QueryUserItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryRepairLog</servlet-name>
    <url-pattern>/QueryRepairLog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRepairLog</servlet-name>
    <url-pattern>/AddRepairLog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRepairItem</servlet-name>
    <url-pattern>/AddRepairItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisposeRepair</servlet-name>
    <url-pattern>/DisposeRepair</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoneRepair</servlet-name>
    <url-pattern>/DoneRepair</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
