<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC  
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/collegerepair
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">
			037037037
		</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.show_sql">true</property>
		<property name="current_session_context_class">thread</property>
		<!--数据库连接池的大小-->   
        <property name="hibernate.connection.pool.size">20</property>
        
        <property name="connection.autoReconnect">true</property> 
        <property name="connection.autoReconnectForPools">true</property> 
        <property name="connection.is-connection-validation-required">true</property> 
        <!-- 映射文件 -->  
		<mapping resource="cn/repair/bean/RepairItem.hbm.xml" />
		<mapping resource="cn/repair/bean/RepairLog.hbm.xml" />
		<mapping resource="cn/repair/bean/User.hbm.xml" />
	</session-factory>
</hibernate-configuration>
